---
name: send_recover_password
to: '{{ form.email }}'
delay: 0
enabled: true
trigger_condition: true
from: no-reply@example.com
reply_to: no-reply@example.com
cc:
bcc:
subject: Reset password instructions
layout_path: mailer
---
{%- query_graph 'get_user_with_password_token', email: form.email, result_name: 'g' -%}
<h1>Hi {{ g.user.first_name }}!</h1>

<p>
  To reset your password, follow the link:
  <a href="{{ platform_context.host }}/admin/reset-password?token={{ g.user.default.password_token | url_encode }}&email={{ g.user.email | url_encode }}">
    reset password!
  </a>
</p>