{%- include 'layout/constants' -%}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=5.0">
    <meta name="description" content="{{ desc }}">
    <link rel="stylesheet" media="screen" href="{{ 'styles/app.css' | asset_url }}&now={{ 'now' | date: '%Y%m%d%H%M%S' }}">

    <title>{{ pagetitle }}</title>
    {%- include 'layout/admin/dependencies' -%}
    <style>
      .margin-auto { margin: 0 auto; }
      .section-spacer-top { padding-top: 5rem; }
      .section-spacer-bottom { padding-bottom: 5rem; }
      hr { width: 100%; max-width: 100%; margin: 25px auto; }
      h1, h2, h3, h4, h5 { margin-bottom: 25px; color: #0e71b3}
      span { color: #069c97; }
      p { color: #1a1a1a; }
    </style>
  </head>
  <body style="background-color: #fafbfc">
    <div class="content-wrap">
    
    <a href="/sandbox/add-customer" class="button">Add Customer</a>
    <a href="/sandbox/add-new-company" class="button">Add Company</a>
    <a href="/sandbox/contact-us" class="button">Create Test Case</a>
    <a href="/sandbox/view-contact-us-list" class="button">View Cases</a>

      {{ content_for_layout }}
    </div>

    <script>
      $(document).foundation();

      $(function(){
        var $input = $('input');
        $input.on('focus', function(){
          $(this).closest('label').addClass('active');
        }).on('blur', function(){
          $(this).closest('label').removeClass('active');
        });
      });
    </script>
  </body>
</html>
