{%- include 'layout/constants' -%}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  
  <meta name="description" content="{{ desc }}">
  <title>{{ pagetitle }}</title>
	{%- include 'layout/admin/dependencies' -%}
</head>
<body class="sign-in-wrapper">
  <div class="welcome-wrap">
    <div class="welcome-logo-wrap">
      <img class="welcome-logo" src="{{'admin/images/Insites_logo.svg' | asset_url}}" alt="Insites Logo" />
    </div>
    <h1>Welcome to your Insites Platform</h1>
    <p>Online Digital Platform</p>
  </div>
  
  <div class="sign-in content-wrap">
    <div class="sign-in form-wrap">
      <div class="sign-in form-wrap logo-wrap">
        <img class="sign-in form-wrap logo"
          src="{{'images/admin/FNS-Logo-RGB.svg' | asset_url}}"
          alt="Sign In Logo" />
      </div>
      {{ content_for_layout }}
    </div>
  </div>

  <script>
    $(document).foundation();

    $(function(){
      var $input = $('input');
      $input.on('focus', function(){
        $(this).closest('label').addClass('active');
      }).on('blur', function(){
        $(this).closest('label').removeClass('active');
      });
    });
  </script>
</body>
</html>
