---
name: admin_sign_in
resource: Session
redirect_to: admin/insites#/overview
---

<!-- {{form_builder}} -->
<!-- <div class="grid-x top-container">
  <div class="large-12 cell text-right">
    <span>Don't have an account?</span>
    <ins-button label="CREATE ACCOUNT" outlined></ins-button> 
  </div>
</div> -->

<pre id="adminSignInFormConfig" style="display: none">
  {{form_builder.errors | json}}
</pre>
<form id="adminSignIn"
  accept-charset="UTF-8"
  name="{{form_builder.system_fields.form_configuration_name}}"
  action="/api/sessions" method="POST"
  data-abide data-live-validate="true" novalidate>

  <input name="utf8" value="{{form_builder.system_fields.utf8}}" type="hidden">
  <input name="authenticity_token" value="{{form_builder.system_fields.authenticity_token}}" type="hidden">
  <input name="form_configuration_name" value="{{form_builder.system_fields.form_configuration_name}}" type="hidden">
  <input name="page_id" value="{{form_builder.system_fields.page_id}}" type="hidden">
  <input name="slug2" value="{{form_builder.system_fields.slug2}}" type="hidden">
  <input name="slug3" value="{{form_builder.system_fields.slug3}}" type="hidden">
  <input name="resource_id" value="{{form_builder.system_fields.resource_id}}" type="hidden">
  <input name="parent_resource_id" value="{{form_builder.system_fields.parent_resource_id}}" type="hidden">
  <input name="parent_resource_class" value="{{form_builder.system_fields.parent_resource_class}}" type="hidden">

  <div class="grid-container">
    <div class="grid-x grid-padding-x">
      <div class="large-12 cell">
        <label class="form-label">Email
          <input class="string email required" placeholder="Enter your Email" type="email" name="form[email]" id="form_email" required tabindex="1" />
          
          <span class="form-error">
            Email is required.
          </span>
        </label>
      </div>
      <div class="large-12 cell">
        <label class="form-label" for="password">Password
          <input class="password required" placeholder="Enter your Password" type="password" name="form[password]" id="form_password"  tabindex="2" required>
          

          <span class="form-error">
            Password is required.
          </span>
        </label>
      </div>
      <div class="large-12 cell">
          <div class="large-6 cell text-right">
            <a class="recover-password-link"
              href="/admin/recover-password" tabindex="4">
              Forgot your password?
            </a>
          </div>
      </div>
      <div class="large-12 cell submit-btn-wrap">
        {% comment %} {% submit 'SIGN IN' class: 'button rippleSolid' tabindex: "3" %} {% endcomment %}
        <ins-button type="submit" label="SIGN IN" id="submitButton" solid color="blue"></ins-button>
        <div class="form-error error-submit-sign-in">Oops! That email / password combination is not valid.</div>
      </div>
    </div>
  </div>

</form>
<script>
  $(function(){
    // console.log('ready');
    var submitButtonEl = document.getElementById('submitButton');
    var formErrors = JSON.parse(document.getElementById('adminSignInFormConfig').innerText);

    submitButtonEl.addEventListener('click', function(){
      // console.log('clicked');
      submitButtonEl.loading = true;
      var email_field = document.getElementById('form_email'),
        password_field = document.getElementById('form_password'),
        hasError = false;

      if (email_field.value && password_field.value)  {
        submitButtonEl.loading = true;
        
        if (!hasClass(email_field, 'is-invalid-input') && !hasClass(password_field, 'is-invalid-input')) {
          // submitButtonEl.disabled = true;
          // submitButtonEl.loading = true;
        }
      } else {
        submitButtonEl.loading = false;
      }
      
    });

    function hasClass(element, cls) {
        return (' ' + element.className + ' ').indexOf(' ' + cls + ' ') > -1;
    }

    if (formErrors.password === 'Invalid email or password.') {
        document.querySelector('.error-submit-sign-in').classList.add('is-visible');
        history.pushState({urlPath: '/admin/login'},"",'/admin/login');
    }
  });
</script>