<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta content="{{ form_authenticity_token }}" name="csrf-token">
<meta content="authenticity_token" name="csrf-param">
<meta name="description" content="{{ desc }}">

<link rel="apple-touch-icon-precomposed" sizes="57x57" href="{{ 'admin/images/favicons/apple-touch-icon-57x57.png' | asset_url }}" />
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ 'admin/images/favicons/apple-touch-icon-114x114.png' | asset_url }}" />
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ 'admin/images/favicons/apple-touch-icon-72x72.png' | asset_url }}" />
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ 'admin/images/favicons/apple-touch-icon-144x144.png' | asset_url }}" />
<link rel="apple-touch-icon-precomposed" sizes="60x60" href="{{ 'admin/images/favicons/apple-touch-icon-60x60.png' | asset_url }}" />
<link rel="apple-touch-icon-precomposed" sizes="120x120" href="{{ 'admin/images/favicons/apple-touch-icon-120x120.png' | asset_url }}" />
<link rel="apple-touch-icon-precomposed" sizes="76x76" href="{{ 'admin/images/favicons/apple-touch-icon-76x76.png' | asset_url }}" />
<link rel="apple-touch-icon-precomposed" sizes="152x152" href="{{ 'admin/images/favicons/apple-touch-icon-152x152.png' | asset_url }}" />
<link rel="shortcut icon" type="image/png" href="{{ 'admin/images/favicons/favicon-196x196.png' | asset_url }}" sizes="196x196" />
<link rel="shortcut icon" type="image/png" href="{{ 'admin/images/favicons/favicon-96x96.png' | asset_url }}" sizes="96x96" />
<link rel="shortcut icon" type="image/png" href="{{ 'admin/images/favicons/favicon-32x32.png' | asset_url }}" sizes="32x32" />
<link rel="shortcut icon" type="image/png" href="{{ 'admin/images/favicons/favicon-16x16.png' | asset_url }}" sizes="16x16" />
<link rel="shortcut icon" type="image/png" href="{{ 'admin/images/favicons/favicon-128.png' | asset_url }}" sizes="128x128" />

<link rel="stylesheet" media="screen" href="{{ 'styles/vendor.css' | asset_url }}">
<link rel="stylesheet" media="screen" href="{{ 'styles/app.css' | asset_url }}">

<title>{{ pagetitle }}</title>
